<header>
    <a href="/" class="logo">
        <img src="/logo.png" alt="Logo">
        My Task
    </a>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/create">New Task</a></li>
        </ul>
    </nav>
</header>