<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
<body>
    <div class="page-not-found">
        <h1>Oops! Page Not Found :)</h1>
        <p>Retrun to <a href="/">Home</a> Page</p>
    </div>
</body>
</html>