<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
<body>
    <div class="container">
            <%- include("./partials/header.ejs") %>
            <%- include("./partials/aside.ejs") %>
        <main>
            <div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, dolorum magnam commodi animi quisquam, illo eveniet corporis ipsam a nam blanditiis asperiores numquam, voluptatibus quas iusto laboriosam id quasi. Id hic quo iste vitae illum ducimus distinctio eum, saepe, commodi voluptate totam, maxime iusto fuga exercitationem veniam. Aspernatur qui voluptatibus quasi deserunt nihil accusamus soluta, minima, ad eveniet atque et cum culpa aliquid explicabo ea voluptate labore. Quasi magni harum, reprehenderit cumque rerum fugit aliquid soluta quo vel eius exercitationem distinctio quidem perspiciatis assumenda voluptas at magnam quis laudantium quas dignissimos fuga nobis dolore corrupti quae? Doloribus sint autem delectus.</p>
            </div>
        </main>
        <%- include("./partials/footer.ejs") %>
    </div>
</body>
</html>